
<!-- MASTER DATA MODALS -->
<div class="modal fade" id="modalEmployeeList">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header bg-warning">
            <h4 class="modal-title">List of Employees</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body ">
            <table id="tblEmployee" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Emp ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Email</th>
                    <th>Job Title</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for i in queryResultEmployeeListJson %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td class="item-1">{{i.EmpId}}</td>
                        <td class="item-2">{{i.LastName|default_if_none:""}}</td>
                        <td class="item-3">{{i.FirstName|default_if_none:""}}</td>
                        <td class="item-4">{{i.MiddleName|default_if_none:""}}</td>
                        <td class="item-5">{{i.Email|default_if_none:""}}</td>
                        <td class="item-6">{{i.JobTitle|default_if_none:""}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END EMPLOYEE LIST MODAL -->

<div class="modal fade" id="modalUserList" name="00">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header bg-warning ">
            <h4 class="modal-title">List of Users</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table id="tblUser" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Emp ID</th>
                    <th>Emp Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END USER LIST MODAL -->

<div class="modal fade" id="modalBusinessPartnerList" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header bg-warning ">
            <h4 class="modal-title">List of Business Partners</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table id="tblBusinessPartner" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>BP Code</th>
                    <th>BP Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END BUSINESS PARTNER LIST MODAL -->

<div class="modal fade" id="modalContactPersonList" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header bg-warning ">
            <h4 class="modal-title">List of Contact Perons</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table id="tblContactPerson" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th class="d-none">Code</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Telephone</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END CONTACT PERSON LIST MODAL -->

<div class="modal fade" id="modalSalesEmployeeList" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header bg-warning ">
            <h4 class="modal-title">List of Sales Employee</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table id="tblSalesEmployee" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th class="d-none">Code</th>
                    <th>Name</th>
                    <th>Remarks</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END SALES PERSON LIST MODAL -->
<!-- END HEADER -->

<div class="modal fade" id="modalItemList" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header bg-warning ">
            <h4 class="modal-title">List of Items</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table id="tblItem" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Item Code</th>
                    <th>Item Description</th>
                    <th>In Stock</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END ITEM LIST MODAL -->

<div class="modal fade" id="modalWarehouseList" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header bg-warning ">
            <h4 class="modal-title">List of Warehouse</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table id="tblWarehouse" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Warehouse Code</th>
                    <th>Warehouse Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END WAREHOUSE LIST MODAL -->

<div class="modal fade" id="modalUnitOfMeasureList" >
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header bg-warning ">
            <h4 class="modal-title">List of Unit of Measure</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table id="tblUnitOfMeasure" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Code</th>
                    <th>Unit Name</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END UNIT OF MEASURE MODAL -->

<!-- END MASTER DATA MODAL -->
<!-- MODULE MODAL -->

<div class="modal fade" id="modalSalesOrderList" name="documentModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header bg-warning ">
            <h4 class="modal-title">List of Sales Order</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table id="tblSalesOrder" name="tblDocument" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Document Entry</th>
                    <th>Document Num</th>
                    <th>Posting Date</th>
                    <th>Customer Code</th>
                    <th>Customer Name</th>
                    <th>Remarks</th>
                    <th>Due Date</th>
                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
            </table>
        </div>
        <div class="modal-footer ">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END UNIT OF MEASURE MODAL -->

<!-- END MODULE MODAL -->


<!-- ACTION MODALS -->
<!-- Success -->
<div class="modal fade" id="modal-success">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-success">
        <div class="modal-header">
            <h4 class="modal-title" id="modaltitle">Success!</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5 id="modal-success-body"></h5>
        </div>
       
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Danger -->
<div class="modal fade" id="modal-danger">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bg-danger">
        <div class="modal-header">
            <h4 class="modal-title" id="modaltitle">Fail!</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5 id="modal-danger-body"></h5>
        </div>
       
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Loading -->
<div class="modal fade" id="modal-loading">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="modaltitle">Loading</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body text-center">
            <div class="spinner-grow text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-secondary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-danger" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-warning" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-info" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow bg-lime" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="spinner-grow text-dark" role="status">
                <span class="sr-only">Loading...</span>
            </div>
         
        </div>
       
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<!-- END ACTION MODAL -->

<!-- UTILITY MODALS -->
<div class="modal fade" id="modalFormSettings">
    <div class="modal-dialog modal-lg" >
        <div class="modal-content">
        <div class="modal-header bg-warning ">
            <h4 class="modal-title">Form Settings</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body overflow-auto" >
            <table id="tblFormSettings" class="table table-bordered table-striped table-hover">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th class="d-none">Position</th>
                    <th class="d-none">Width</th>
                    <th>Column</th>
                    <th>Visible</th>

                    <th class="d-none">id</th>
                    <th class="d-none">name</th>
                    <th class="d-none">diapi</th>
                    <th class="d-none">masterdata</th>
                    <th class="d-none">modal</th>
                    <th class="d-none">type</th>
                    <th class="d-none">selectoptions</th>
                    <th class="d-none">format</th>
                    <th class="d-none">dataListTable</th>
                    <th class="d-none">dataListID</th>
                    <th class="d-none">dataListFieldToSearch</th>
                    <th class="d-none">connectedName</th>
                    <th class="d-none">postable</th>
                    <th class="d-none">dnone</th>

                  </tr>
                  </thead>
                  <tbody>
                  </tbody>
                
            </table>
        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-success" id="btnFormSettingsUpdate">Update</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END FORM SETTINGS MODAL -->

<div class="modal fade" id="modalLogoutConfirmation">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
        <div class="modal-header bg-danger">
            <h4 class="modal-title" id="modaltitle">Alert!</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h2 id="modal-logout-body">Do you really want to log out? <i class="fa-solid fa-face-frown" style="color: #FFAE42  !important"></i></h2>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" id="btnConfirmLogout">Logout</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
       
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END LOGOUT MODALS -->

<div class="modal fade" id="modalShipToDetails" >
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
        <div class="modal-header bg-warning">
            <h4 class="modal-title" id="modaltitle">Address Component</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body overflow-auto" >
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Street / PO Box</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="StreetS" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Street No.</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="StreetNoS" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Block</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="BlockS" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" id="ShipToCity" name="CityS" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Zip Code</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="ZipCodeS" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">County</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="CountyS" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">State</label>
                <div class="col-sm-8 ">
                    <div class="input-group input-group-sm" id="CardCodeDiv" name="CardCodeDiv">
                        <input type="hidden" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="StateS" data-table="OSLP" required>
                        <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" list="SlpCodeQueryResult" data-table="OSLP" data-table-field="SlpName" required>
                    
                        <div class="input-group-append">
                            <button type="button" id="btnSlpCode" class="btn btn-flat bg-teal editable-text-button" data-toggle="modal" data-target="#modalSalesPersonList"  ><i class="fas fa-stream" ></i></button>
                        </div>
                    </div>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Country</label>
                <div class="col-sm-8 ">
                    <div class="input-group input-group-sm" id="CardCodeDiv" name="CardCodeDiv">
                        <input type="hidden" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="CountryS" data-table="OSLP" required>
                        <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" name="CountryNameS" list="SlpCodeQueryResult" data-table="OSLP" data-table-field="SlpName" required>
                    
                        
                        <div class="input-group-append">
                            <button type="button" id="btnSlpCode" class="btn btn-flat bg-teal editable-text-button" data-toggle="modal" data-target="#modalSalesPersonList"  ><i class="fas fa-stream" ></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Building / Floor / Room</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="BuildingS" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Address Name 2</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="Address2S" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Address Name 3</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="Address3S" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">GLN</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize shipdetails" id="SlpCode" name="" data-table="OSLP" required>
                </div>
            </div>	
          </div>
          <div class="modal-footer justify-content-between ">
            <button type="button" class="btn btn-success" id="btnShipToDetailsUpdate">Update</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
    <!-- END SHIP TO MODALS -->

<div class="modal fade" id="modalBillToDetails" >
    <div class="modal-dialog modal-lg ">
        <div class="modal-content">
        <div class="modal-header bg-warning">
            <h4 class="modal-title" id="modaltitle">Address Component</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body overflow-auto" >
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Street / PO Box</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="StreetB" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Street No.</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="StreetNoB" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Block</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="BlockB" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">City</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="CityB" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Zip Code</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="ZipCodeB" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">County</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="CountyB" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">State</label>
                <div class="col-sm-8 ">
                    <div class="input-group input-group-sm" id="CardCodeDiv" name="CardCodeDiv">
                        <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="StateB" data-table="OSLP" required>
                        <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" list="SlpCodeQueryResult" data-table="OSLP" data-table-field="SlpName" required>
                    
                        <div class="input-group-append">
                            <button type="button" id="btnSlpCode" class="btn btn-flat bg-teal editable-text-button" data-toggle="modal" data-target="#modalSalesPersonList"  ><i class="fas fa-stream" ></i></button>
                        </div>
                    </div>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Country</label>
                <div class="col-sm-8 ">
                    <div class="input-group input-group-sm" id="CardCodeDiv" name="CardCodeDiv">
                        <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="CountryB" data-table="OSLP" required>
                        <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" name="CountryNameB" list="SlpCodeQueryResult" data-table="OSLP" data-table-field="SlpName" required>
                    
                        
                        <div class="input-group-append">
                            <button type="button" id="btnSlpCode" class="btn btn-flat bg-teal editable-text-button" data-toggle="modal" data-target="#modalSalesPersonList"  ><i class="fas fa-stream" ></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Building / Floor / Room</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="BuildingB" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Address Name 2</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="Address2B" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">Address Name 3</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="Address3B" data-table="OSLP" required>
                </div>
            </div>	
            <div class="form-group row m-0" >
                <label for="emp_id" class="col-sm-4 col-form-label">GLN</label>
                <div class="col-sm-8 ">
                    <input type="text" class="form-control form-control-sm editable-text input-serialize billdetails" id="SlpCode" name="" data-table="OSLP" required>
                </div>
            </div>	
          </div>
          <div class="modal-footer justify-content-between ">
            <button type="button" class="btn btn-success" id="btnBillToDetailsUpdate">Update</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- END BILL TO MODALS -->
<!-- END UTILITY MODALS -->

