<div class="col-md-12">
    <div class="form-group row">
      <div class="col-4">
        <div class="card card-outline card-secondary">
          <div class="card-header ">
            <h3 class="card-title">Uploaders</h3>
            <div class="card-tools">
              <i class="nav-icon fas fa-tasks "></i>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="addon-pctpuploader1" name="modules" >
              <label for="addon-pctpuploader1" class="custom-control-label">PCTP Uploader 1</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="addon-pctpuploader2" name="modules" >
              <label for="addon-pctpuploader2" class="custom-control-label">PCTP Uploader 2</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="addon-pctpuploaderpricing" name="modules" >
              <label for="addon-pctpuploaderpricing" class="custom-control-label">PCTP Uploader (Pricing)</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="addon-pctpwindow" name="modules" >
              <label for="addon-pctpwindow" class="custom-control-label">PCTP Window</label>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
  </div>
</div>