<div class="col-md-12">
    <div class="form-group row">
      <div class="col-4">
        <div class="card card-outline card-secondary">
          <div class="card-header ">
            <h3 class="card-title">Administration</h3>
            <div class="card-tools">
              <i class="nav-icon fas fa-tasks "></i>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="ousr" name="modules" >
              <label for="ousr" class="custom-control-label">User Management</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="ocon" name="modules" >
              <label for="ocon" class="custom-control-label">Connected Clients</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="olic" name="modules" >
              <label for="olic" class="custom-control-label">License Administration</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="oapp" name="modules" >
              <label for="oapp" class="custom-control-label">Approval Process</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="oadm" name="modules" >
              <label for="oadm" class="custom-control-label">Admin Settings</label>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-4">
        <div class="card card-outline card-secondary">
          <div class="card-header">
            <h3 class="card-title">Sales</h3>
            <div class="card-tools">
              <i class="nav-icon fas fa-tags"></i>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="oqut" name="modules" >
              <label for="oqut" class="custom-control-label">Sales Quotation</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="ordr" name="modules" >
              <label for="ordr" class="custom-control-label">Sales Order</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="odln" name="modules" >
              <label for="odln" class="custom-control-label">Delivery</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="oinv" name="modules" >
              <label for="oinv" class="custom-control-label">A/R Invoice</label>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-4">
        <div class="card card-outline card-secondary">
          <div class="card-header">
            <h3 class="card-title">Purchasing</h3>
            <div class="card-tools">
              <i class="nav-icon fas fa-shopping-cart"></i>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="oprq" name="modules" >
              <label for="oprq" class="custom-control-label">Purchase Request</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="opor" name="modules" >
              <label for="opor" class="custom-control-label">Purchase Order</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="opdn" name="modules" >
              <label for="opdn" class="custom-control-label">Goods Receipt PO</label>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-4">
        <div class="card card-outline card-secondary">
          <div class="card-header ">
            <h3 class="card-title">Business Partner</h3>
            <div class="card-tools">
              <i class="nav-icon fas fa-hands-helping"></i>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="ocrd" name="modules" >
              <label for="ocrd" class="custom-control-label">BP Master Data</label>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <div class="col-4">
        <div class="card card-outline card-secondary">
          <div class="card-header ">
            <h3 class="card-title">Inventory</h3>
            <div class="card-tools">
              <i class="nav-icon fas fa-boxes"></i>
            </div>
            <!-- /.card-tools -->
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="oitm" name="modules" >
              <label for="oitm" class="custom-control-label">Item Master Data</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="oign" name="modules" >
              <label for="oign" class="custom-control-label">Goods Receipt</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="oige" name="modules" >
              <label for="oige" class="custom-control-label">Goods Issue</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="owtq" name="modules" >
              <label for="owtq" class="custom-control-label">Inventory Request</label>
            </div>
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input editable-checkbox" type="checkbox" id="owtr" name="modules" >
              <label for="owtr" class="custom-control-label">Inventory Transfer</label>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
  </div>
</div>