<tr class="m-0">
    <td class="text-center rownumber">
        {% for r in lastRowNo %}
            {{ r }}
        {% endfor %}
    </td> 
    <td class="text-center">
        <input type='number' class='form-control form-control-sm editable-text row-input required' name='position' data-row-add-verifier="true">        
    </td>
    <td class="text-center">
        <div class="input-group input-group-sm">
            <input type='number' class='form-control form-control-sm editable-text row-input text-right required'  name='width' data-row-add-verifier="true">       
            <div class="input-group-append">
                <span class="input-group-text">px</span>
            </div> 
        </div>
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input required'  name='id' data-row-add-verifier="true">        
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input required'  name='name' data-row-add-verifier="true">        
    </td>
    <td class="text-center">
        <select type='text' class='form-control form-control-sm editable-text row-input'  name='tabIndex'  >
            <option value=""></option>
            <option value="-1">-1</option>    
        </select>   
    </td>
    <td class="text-center">   
        <select type='text' class='form-control form-control-sm editable-text row-input'  name='textAlign'  >
            <option value="text-left">text-left</option>
            <option value="text-center">text-center</option>
            <option value="text-right">text-right</option>    
        </select>  
    </td>
    <td class="text-center"> 
        <select type='text' class='form-control form-control-sm editable-text row-input'  name='rowAddVerifier'  >
            <option value="true">true</option>
            <option value="false">false</option>
        </select>    
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='diapi'>        
    </td>
    <td class="text-center">
        <select type='text' class='form-control form-control-sm editable-text row-input'  name='masterdata'  >
            <option value="true">true</option>
            <option value="false">false</option>    
        </select>      
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='defaultCode' >        
    </td> 
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='defaultValue' >        
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='modal' >        
    </td>
    <td class="text-center">
        <select type='text' class='form-control form-control-sm editable-text row-input'  name='type' >
            <option value="input">input</option>
            <option value="select">select</option>    
            <option value="checkbox">checkbox</option>    
            <option value="textarea">textarea</option>     
        </select>      
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='selectoptions' >        
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='format' >        
    </td>
    <td class="text-center">  
        <select type='text' class='form-control form-control-sm editable-text row-input' name='decimalFormat'>
            <option value=""></option>
            <option value="TotalsAccuracy">TotalsAccuracy</option>
            <option value="AccuracyofQuantities" >AccuracyofQuantities</option>    
            <option value="PriceAccuracy" >PriceAccuracy</option>    
            <option value="RateAccuracy"></option>     
            <option value="PercentageAccuracy">PercentageAccuracy</option>     
            <option value="MeasuringAccuracy">MeasuringAccuracy</option>     
            <option value="QueryAccuracy">QueryAccuracy</option>     
        </select>   
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='dataListTable' >        
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='dataListID' >        
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='connectedName'>        
    </td>
    <td class="text-center">  
        <select type='text' class='form-control form-control-sm editable-text row-input'  name='postable'  >
            <option value="true">true</option>
            <option value="false">false</option>    
        </select>    
    </td>
    <td class="text-center">
        <select type='text' class='form-control form-control-sm editable-text row-input'  name='dnone'  >
            <option value=""></option>
            <option value="d-none">d-none</option>    
        </select>       
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='validValues' >        
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='functionDetails'>        
    </td>
    <td class="text-center">
        <input type='text' class='form-control form-control-sm editable-text row-input'  name='functionTriggerBy'>        
    </td>
    <td class="text-center">
        <select type='text' class='form-control form-control-sm editable-text row-input'  name='fillable'  >
            <option value="true">true</option>
            <option value="false">false</option>    
        </select>       
    </td>
    <td class="text-center">
        <select type='text' class='form-control form-control-sm editable-text row-input'  name='readOnly'  >
            <option value="" ></option>
            <option value="readonly">readonly</option>    
        </select>       
    </td>
</tr>