<div class="row my-1">
    <div class="col-sm-2">
        <div class="form-group row m-0">
            <label for="NumAtCard" class="col-sm-12 col-form-label">Ship To</label>
            <select class="form-control form-control-sm col-sm-12 my-1 address-select diapi select-to-fill" id="ShipToCode" name="ShipToCode"  data-name="ShipToCode" data-table="CRD1" data-field="ShipToDef" data-address-type="S" data-SQL-field="AddressS" data-default-trigger="getBusinessPartnerDetails()">
                
            </select>
        </div>
    </div>
    <div class="col-sm-3">
            <textarea rows="5" type="text" class="form-control form-control-sm" id="Address2" name="Address2" readonly></textarea>
    </div>
    <div class="col-sm-5">
        <a type="button" id="btnCardCode" class="btn btn-flat bg-primary editable-text-button" data-toggle="modal" data-target="#modalShipToDetails"  ><i class="fas fa-stream" ></i></a>
    </div>
</div>
<div class="row my-1">
    <div class="col-sm-2">
        <div class="form-group row m-0">
            <label for="NumAtCard" class="col-sm-12 col-form-label">Bill To</label>
            <select class="form-control form-control-sm col-sm-12 my-1 address-select diapi select-to-fill" id="PayToCode" name="PayToCode"  data-name="PayToCode" data-table="CRD1" data-field="BillToDef" data-address-type="B" data-SQL-field="AddressB" data-default-trigger="getBusinessPartnerDetails()">
                
            </select>
        </div>
    </div>
    <div class="col-sm-3">
            <textarea rows="5" type="text" class="form-control form-control-sm" id="Address" name="Address" readonly></textarea>
    </div>
    <div class="col-sm-5">
        <a type="button" id="btnCardCode" class="btn btn-flat bg-primary editable-text-button" data-toggle="modal" data-target="#modalBillToDetails"  ><i class="fas fa-stream" ></i></a>
    </div>
</div>
<div class="row my-1">
    <div class="col-sm-6">
        <div class="form-group row m-0">
            <label for="NumAtCard" class="col-sm-4 col-form-label">Shipping Type</label>
            <select class="form-control form-control-sm col-sm-7 my-1 select-invisible-options" id="ShippingMethod" name="ShippingMethod" data-default-source="ShippingType">
                {% for i in shippingTypeList %}
                <option value="{{i.0}}" label="{{i.1}}"></option>
                {%endfor%}
            </select>
        </div>
    </div>
</div>